

/*Media styles for drop down menu*/
#menu_button{
    display:none;
    cursor: pointer;
    position:absolute;
    background: url(../image1/threelines.png) no-repeat center center;
    background-size: contain;
    height:50px;
    width:50px;
    left:40px;
    top:2px;
    text-decoration: none;
    outline: none; 
    border:none;
}

@media screen and (max-width:1370px){
    .menu_solutions{
        left:-100px;
    }
}
@media screen and (max-width:1100px){

    .hide_solutions{
        display:none;
    }

    #menu_button{
        display:block;
    }

    .menutop__item{
        display:none;
    }

    .menu_solutions{
         width:320px;
         height:850px;
         left:-200px;
         top:45px;
         z-index:3;
        }

        .menu_whiteline1{
            display:none;
        }

        .menu_whiteline2{
            display:none;
        }

        .block1_container{
            width:320px;
        }

        .menu_line1{
            padding-left:10px;
            padding-right:10px;
        }

        .block1_line{
            padding-left:10px;
            padding-right:10px;
        }

        .block2_container{
            display:block;
            width:320px;
            top:-2400px;
        }

        .menu_line2{
            padding-left:10px;
        }

        .block2_line{
            padding-left:10px;
            padding-right:10px;
        }

        .block3_container{
            display:block;
            width:150px;
            top:-2400px;
            padding-left:0;
        }

        .block4_container{
            display:block;
            width:170px;
            padding-left:0;
            float:right;
            top:-2670px;
        }

        .menu_line3{
            padding-left:10px;
            padding-right:10px;
        }

        .header_background{
            display:none;
        }

        .menu_line4{
            top:0;
        }

}


/*Media styles for Name*/
@media screen and (max-width:490px){

    .name_line1{
        font-size:40px;
        padding-left:10px;
    }

    .name_line2{
        color:gray;
        padding-left:13px;
    }

    #how1{
        margin-top:40px;
        margin-left:10px;
    }

    #how2{
        margin-left:10px;
    }

}

@media screen and (max-width:1000px){

    .how_block{
        padding-left:0;
    }

    .text_container{
        padding-left:0;
    }

}

@media screen and (max-width:700px){

    .how_block__tittle{
        font-size:15px;
    }

    .how_block{
        font-size:15px;
    }

    .how_container{
        width:100%;
        max-width:100%;
        display:inline-block;
        text-align:center;
    }

    .text_container{
        margin-left:auto;
        margin-right:auto;
    }

    .how_mobile_background{
        height:1560px;
    }

    .features_text{
        font-size:25px;
        text-align:center;
        padding: 15px 0;
    }

    .features_line1{
        text-align:center;
        padding-left:0;
    }

    .text{
        font-size:14px;
    }

    .text2{
        font-size:14px;
    }

    .how_mobile_backgroundblue:before{
        height:1315px;
    }

}


/*Media styles for Boxes*/
@media screen and (max-width:1279px) {

    .boxes {
        height: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

}

   @media screen and (width:1024px){

       .box_list{
           margin:20px 60px;
       }

   }
   @media screen and (width:768px){

       .box_list{
           margin:20px 80px;
       }

   }
   @media screen and (width:414px){

       .box_list{
           margin:20px 100px;
       }

   }
   @media screen and (width:375px){

       .box_list{
           margin:20px 80px;
       }

   }
   @media screen and (width:1024px){

       .box_list{
           margin:20px 60px;
       }

   }
   @media screen and (width:411px){

       .box_list{
           margin:20px 90px;
       }

   }
   @media screen and (width:360px){

       .box_list{
           margin:20px 70px;
       }

   }

@media screen and (max-width:950px){

    .boxes{
        height:1750px;
        margin-left:auto;
        margin-right:auto;
    }

}
@media screen and (max-width:639px){

    .features_main{
        height:3550px;
    }

}
@media screen and (max-width:450px){

    .features_main{
        height:3570px;
    }

}
@media screen and (max-width:350px){

    .features_main{
        height:3590px;
    }

}


/*Media styles for License options*/
   @media screen and (max-width:1230px){

       .options_text1{
           max-width:485px;
       }

       .td_width{
           width:300px;
       }

   }

   @media screen and (max-width:1140px){

       .licenseoptions{
           height:750px;
       }

   }

   @media screen and (max-width:1080px){

       .licenseoptions{
           height:800px;
       }

   }

   @media screen and (max-width:1030px){

       .licenseoptions{
           height:850px;
       }

   }

   @media screen and (max-width:960px){

       .options_text1{
           max-width:535px;
       }

       .td_width{
           width:250px;
       }

   }

   @media screen and (max-width:910px){

      .licenseoptions{
          height:900px;
      }

   }

   @media screen and (max-width:890px){

       .licenseoptions{
           height:950px;
       }

   }

   @media screen and (max-width:870px){

       .licenseoptions{
           height:900px;
       }

       .options_text1{
           max-width:535px;
       }

       .td_width{
           width:150px;
       }

   }

   @media screen and (max-width:790px){

       .licenseoptions{
           height:900px;
       }

       .td_width{
           width:100px;
       }

   }

   @media screen and (max-width:740px){

       .licenseoptions{
           height:900px;
       }
       .td_width{
           width:50px;
       }

   }

   @media screen and (max-width:680px){

       .licenseoptions{
           height:950px;
       }

       .td_width{
           width:20px;
       }

   }
   @media screen and (max-width:650px){

       .licenseoptions{
           height:1000px;
       }

   }

   @media screen and (max-width:640px){

       .licenseoptions{
           height:1050px;
       }

   }

   @media screen and (max-width:620px){

       .licenseoptions{
           height:1150px;
       }

       .td_width{
           width:20px;
       }

   }

   @media screen and (max-width:610px){

       .licenseoptions{
           height:1250px;
       }

   }

   @media screen and (max-width:580px){

       .licenseoptions{
           height:1000px;
       }

       .options_premium{
           padding-left:20px;
       }

       .greendot2{
           margin-left:50px;
       }

       .greendot1{
           margin-left:120px;
       }

       .greendot_month{
           margin-left:40px;
       }

       .trail_month{
           padding-left:80px;
       }

       .emptydot{
           margin-left:120px;
       }

       .options_container{
           width:320px;
       }

       #free_trail{
           width:100px;
           margin-left:50px;
       }

       #get_now{
           width:100px;
       }

       .one_premium{
           padding-left:0;
       }

       .options_basic{
           padding-left:100px;
       }

       .table-license-option{
           padding-left: 10px;
       }

   }
    /*Stoped here*/
   @media screen and (max-width:570px ) {

       .licenseoptions{
           height:1050px;
       }

       .table-license-option{
           padding-left: 10px;
       }

   }

   @media screen and (max-width:500px ) {

       .licenseoptions{
           height:1200px;
       }

   }

   @media screen and (max-width:550px ) {

       .licenseoptions{
           height:1150px;
       }

   }

   @media screen and (max-width:540px ) {

       .licenseoptions{
           height:1200px;
       }

   }

   @media screen and (max-width:530px ) {

       .licenseoptions{
           height:1250px;
       }

   }

   @media screen and (max-width:510px ) {

       .licenseoptions{
           height:1300px;
       }

   }

   @media screen and (max-width:490px ) {

       .licenseoptions{
           height:1300px;
           overflow: hidden;
           width:100%;
           box-sizing: border-box;
       }

   }

   @media screen and (max-width:440px) {

       .options_basic {
           padding-left: 60px;
       }

       .options_premium {
           padding-left: 20px;
       }

       .greendot2 {
           margin-left: 50px;
       }

       .greendot1 {
           margin-left: 80px;
       }

       .greendot_month {
           margin-left: 20px;
       }

       .trail_month {
           padding-left: 60px;
       }

       .emptydot {
           margin-left: 80px;
       }

   }

   @media screen and (max-width:400px){

       .options_basic {
           padding-left: 20px;
       }

       .greendot1 {
           margin-left: 40px;
       }

       .emptydot {
           margin-left: 40px;
       }

       .greendot_month {
           margin-left: 20px;
       }

       .trail_month {
           padding-left: 20px;
       }

   }

   @media screen and (max-width:360px){

       .one_premium{
           padding-left:20px;
       }

       .options_premium{
           padding-left:0;
       }

       .table-license-option{
           padding-left:0;
       }

       .greendot2{
           margin-left:30px;
       }

       #get_now{
          margin-left:20px;
       }

       #free_trail{
           margin-left:90px;
       }

   }


/*Media styles for footer*/
@media screen and (max-width:1280px){

    .signup{
        padding-left:400px;
    }

    form input[type=text]{
        margin-left:400px;
    }

    .youtube{
        margin-left:900px;
    }

    .white_line{
        max-width:100%;
    }

}

@media screen and (max-width:1080px){

    .signup{
        padding-left:300px;
    }

    form input[type=text]{
        margin-left:300px;
    }

    .youtube{
        margin-left:800px;
    }

}

@media screen and (max-width:980px){

    .signup{
        padding-left:200px;
    }

    form input[type=text]{
        margin-left:200px;
    }

    .youtube{
        margin-left:700px;
    }

}

@media screen and (max-width:880px){

    .signup{
        padding-left:190px;
    }

    form input[type=text]{
        margin-left:190px;
    }

    .youtube{
        margin-left:660px;
    }

}

@media screen and (max-width:840px){

    .youtube{
        top:-18px;
        margin-left:190px;
    }

    .google{
        top:-18px;
    }

    .in{
        top:-18px;
    }

    .twee{
        top:-18px;
    }

    .face{
        top:-18px;
    }
   
}

@media screen and (max-width:601px){

    .signup{
        padding-left:150px;
    }

    form input[type=text]{
        margin-left:150px;
        width:150px;
    }

    .youtube{
        top:-18px;
        margin-left:150px;
    }

    #subscribe{
        width:80px;
        font-size:13px;
        top:-21px;
    }
   
}

@media screen and (max-width:390px){

    .contact{
        top:-0.2px;
        left:10px;

    }

    .contact_us{
        top:-13px;
        left:10px;
    }

    .signup{
        padding-left:10px;
        top:10px;
    }

    form input[type=text]{
        margin-left:10px;
        width:180px;
        top:10px;
    }

    #subscribe{
        width:110px;
        font-size:13px;
        top:9px;
    }

    .white_line{
        margin-top:25px;
    }

    .youtube{
        top:20px;
        margin-left:10px;
    }

    .google{
        top:20px;
    }

    .in{
        top:20px;
    }

    .twee{
        top:20px;
    }

    .face{
        top:20px;
    }

}

@media screen and (max-width:920px){

    .links{
        left:185px;
    }

    .whiteline3{
        margin-left:30px;
    }

    .whiteline4{
        margin-left:30px;
    }

}

@media screen and (max-width:760px){

    .links{
        max-width:490px;
        height:250px;
    }

    .whiteline3{
        height:100px;
        top:-20px;
        position:relative;
    }

    .whiteline4{
         height:100px;
         top:100px;
         margin-left:-241px;
        position:relative;
    }

    .security_products{
        top:20px;
    }

    .android_antivirus{
        top:45px;
    }

    .mac_antivirus{
        top:70px;
    }

    .int_security{
        top:95px;
    }
    
}

@media screen and (max-width:535px){

    .links{
        max-width:240px;
    }

}

@media screen and (max-width:428px){

    .links{
        height:400px;
        max-width:135px;
    }

    .whiteline3{
        height:100px;
         top:100px;
         margin-left:-108px;
    }

    .res{
        top:45px;
    }

    .comm{
        top:70px;
    }

    .papers{
        top:95px;
    }

    .whiteline4{
         height:100px;
         top:240px;
         margin-left:-103px;
        position:relative;
    }

    .security_products{
        top:160px;
        font-size:13px;
        padding-left:0;
    }

    .android_antivirus{
        top:185px;
        padding-left:85px;
    }

    .mac_antivirus{
        top:210px;
    }

    .int_security{
        top:235px;
    }

}
