/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2018, 11:11:39 AM
    Author     : konstantin
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.main_wrapper{
    margin-left:auto;       
    margin-right:auto;
    max-width:1280px;
}

.container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.container:after{
    content: "";
    display: block;
    clear: both;
}

.topheader{
    display: block;
    min-height: 75px;
    background:white;
}

.logo{
    padding: 10px 0;
    float: left;
}

.menu-top{
    float: right;
    line-height: 50px;
    color:gray;
    padding-right:80px;
    font-weight:bold;
}

.menutop__item1{
    position:relative;
    display:inline-block;
    font-size:12px;
    float: left;
    padding: 0 20px;
    color:gray;
    font-weight:bold;
}

.menutop__item{
    position:relative;
    display:inline-block;
    font-size:12px;
    float: left;
    padding: 0 20px;
    color:gray;
    font-weight:bold;
}

.menutop__item1:hover .menu_solutions{
    display:block;
}

.menu_solutions{
    display:none;
    z-index:1;
    position:absolute;
    top: 100%;
    left: 0;
    width:855px;
    height:280px;
    background:#f9f9f9;
}

.menu_line1{
    color:white;
    font-size:18px;
    display:block;
    padding-left:25px;
    background:#00BFFF;
    z-index:2;
}

.menu_line2{
    color:white;
    font-size:18px;
    display:block;
    padding-left:25px;
     background:#00BFFF;
     z-index:2;
}

.menu_line3{
    color:white;
    font-size:18px;
    display:block;
    padding-left:5px;
     background:#00BFFF;
     z-index:2;
}

.menu_line4{
    position:relative;
    color:white;
    font-size:0;
    display:block;
    padding-left:5px;
     background:#00BFFF;
     z-index:2;
}

.header_background{
    position:relative;
    background:#00BFFF;
    width:855px;
    z-index:1;
    height:50px;
    top:-2700px;
}

.block1_container{
    position:relative;
    display:inline-block;
    height:2700px;
    width:230px;
    z-index:3;
    vertical-align:top;
}

.block1_line{
    text-decoration:none;
    display:block;
    color:#00BFFF;
    padding-left: 25px;
    font-size:13px;
    height:30px;
    text-align:left;
    z-index:3;
    position:relative;
}

.menu_whiteline1{
    position:relative;
    margin-left:230px;
    top:-200px;
    background:#e8e8e8;
    width:2px;
    height:200px;
}

.menu_whiteline2{
    position:relative;
    margin-left:230px;
    top:-200px;
    background:#e8e8e8;
    width:2px;
    height:200px; 
}

.block2_container{
    position:relative;
    display:inline-block;
    height:270px;
    width:230px;
    z-index:3;
    vertical-align:top;
}

.block2_line{
    text-decoration:none;
    display:block;
    color:#00BFFF;
    padding-left:25px;
    font-size:13px;
    height:30px;
    text-align:left;
    z-index:3;
}

.block3_container{
    position:relative;
    display:inline-block;
    padding-left:20px;
     vertical-align:top;
    height:270px;
    width:150px; 
    z-index:3;
}

.pic{
    position:relative;        
    display:inline-block;
    height:60px;
    z-index:3;
    float:left;
}

.pic1_text{
    position:relative;
    display:inline-block;
    z-index:3;
    text-decoration:none;
    text-align:center;
    color:#00BFFF;
    font-size:15px;
    height:50px;
    top:-10px;
    padding-left:5px;
}

.block4_container{
    position:relative;
    display:inline-block;
    padding-left:20px;
    vertical-align:top;
    height:270px;
    width:170px;
    z-index:3;
}

.name{
    display: block;
    height: 225px;
    position: relative;
    background:white;
}

.name_line1{
    color:gray;
    padding-left:70px;
    padding-top:4%;
    font-size:50px;
    z-index:1;
}

.name_line2{
    color:gray;
    padding-left:75px;
    z-index:1;
}

#how1{
    width:300px;
    height:55px;
    background:darkorange;
    margin-left:30px;
    margin-top:5%;
    color:white;
    border-width:0;
    font-size:25px;
    text-decoration: none;
    outline: none;
}

#how1:hover{
    background:orange;
}

#how2{
    width:300px;
    height:55px;
    background:#e340ef;
    margin-left:30px;
    margin-top:5%;
    color:white;
    border-width:0;
    font-size:25px;
    text-decoration: none;
    outline: none;
}

#how2:hover{
    background:deeppink;
}

.howmobile{
    height: 790px;
    position: relative;
}

.how_middle{
    color:white;
    position:relative;
    top:-545px;
    padding-left:30px;
    padding-top:30px;
    font-size:25px;
    opacity:1;
    font-weight:bold;
}

.lock{
    position:relative;
    float:left;
}

.phone{
    position:relative;
    float:left;
}

.lock2{
    position:relative;
    float:left;
}

.how_container{
    width:32%;
    max-width:32%;
    display:inline-block;
}

.how_textes{
    position:relative;
    top:-545px;
    opacity:1;
    font-size:20px;
    font-weight:bold;
}

.how_block{
    padding-top:30px;
    display:inline-block;
    font-size:20px;
     padding-left:70px;
}

.text_container{
    width:230px;
  padding-left:70px;  
}

.how_text{
    color:white;
    vertical-align:top;
    padding-left:45px;
    display:inline-block;
    font-size:13px;
    text-align:left;
    font-weight:500;
    line-height:20px;

}

.how_block__tittle{
    min-height:60px;
    max-width:350px;
    color:white;
    font-size:18px;
    font-weight:500;
}

.devicemanagement{
    position: relative;
    height: 1292px;
    background:white;
}

.backgroundimage{
    height:375px;
    background-image:url("../image1/devicemanagment.jpg");
    position:relative;
}

.features_header{
    height:90px;
    opacity:0.9;
    background:#14afe2;
    position:relative;
    top:290px;              
}

.features_text{
    color:white;
    opacity:1;
    font-size:35px;
    padding-top:25px;
    padding-left:50px;
}

.features_main{
    opacity:0.9;
    background:#14afe2;
    height:auto;
}

.features_line1{
    color:white;
    font-size: 16px;
    padding-top:10px;
    padding-left:50px;
}

.boxes{               
    max-width:1280px;
    height:900px;
    background:#14afe2;
}

.box_list{
    width:220px;
    height:250px;
    background:#e5f6fc;
    color:#696969;
    float: left;
    margin: 20px 50px;
}

.boxes_line{
    font-weight:bold;
    font-size:19px;
    padding:20px 15px;
}

.text{
    font-size:14px;
    text-indent:0;
    line-height:normal;
    padding: 0 20px;
}

.text2{
    font-weight:normal;
    font-size:14px;
    text-indent:0;
    line-height:normal;
    padding: 0 18px;
}

.licenseoptions{
    padding: 0 15px;
    display: inline-block;
    height: 690px;
    background:white;
}

.options_middle{
    color:#696969;
    font-size:25px;
    padding:40px 35px;
}

.options_basic{
    color:#696969;
    font-size:20px;
    font-weight:bold;
    padding:7.5px;
    padding-left:60px;
    padding-right:50px;
}

.options_premium {
    position: relative;
    color: #00BFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 7.5px;
    padding-left: 110px;
    padding-right: 50px;
}

.options_text1{
    max-width:435px;
    color:#696969;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:2%;
}

.boldtext{
    color:#696969;
    font-weight:bold;
}

.greendot1{
    position:relative;
    width:15px;
    height:15px;
    background:#7CFC00;
    border-radius:5px;
    margin-left:75px;
}

.greendot2{
    position:relative;
    width:15px;
    height:15px;
    background:#7CFC00;
    border-radius:5px;
    margin-left:145px;
}

.greendot_month{
    position:relative;
    width:15px;
    height:15px;
    background:#7CFC00;
    border-radius:5px;
    margin-left:45px;
    top:-5px;
    color:#696969;
    font-family: 'Roboto Condensed', sans-serif;
}

.emptydot{
    position:relative;
    border: 2px solid red;
    border-radius: 7px;	
    opacity: 0.6;	
    width: 13px;
    height: 13px;
    margin-left:75px;
}

.trail_month{
    position:relative;
    color:#696969;
    padding-left:30px;
}

#free_trail{
    width:170px;
    height:50px;
    background:#00BFFF;
    margin-left:150px;
    margin-top:60px;
    color:white;
    border-width:0;
    font-size:16px;
    text-decoration: none;
    outline: none;  
}

#free_trail:hover{
    background:#00CED1;
}

#get_now{
    width:170px;
    height:50px;
    background:darkorange;
    margin-left:55px;
    color:white;
    border-width:0;
    font-size:16px;
    text-decoration: none;
    outline: none; 
}

#get_now:hover{
    background:orange;
}

.one_premium{
    color:#696969;
    font-size:16px;
    padding-top:20px;
    padding-left:40px;
    font-style:italic;
}

.footer{
    display: inline-block;
    position: relative;
    background:#545454;
    text-align:left;
    width:100%;
}

.contact{
    max-width:40px;
    max-height:40px;
}

.contact_us{
    position:relative;
    top:28px;
    color:white;
    padding-left:5px;
    font-size:17px;
    text-decoration: none;
}

.contact_us:hover{
    color:#D3D3D3;
}

.contact_us:active{
    color:#D3D3D3;
    text-decoration: none;
}

.contact{
    position:relative;
    top:40px;
    margin-left:1%;
}

.signup{
    position:relative;
    padding-left:480px;
    color:white;
    font-size:16px;
    top:-20px;
}

form input[type=text]{
    position:relative;
    margin-left:480px;
    top:-20px;
    background-color:#DCDCDC;
    box-sizing:border-box;
    height:30px;
    width:280px;
    max-width:300px;
    border:none;
}

#subscribe{
    position:relative;
    top:-18px;
    width:127px;
    height:30px;
    background:#00BFFF;
    color:white;
    border-width:0;
    font-size:20px;
    text-decoration: none;
    outline: none;  
}

#subscribe:hover{
    background:#00CED1;               
}

.youtube{
    position:relative;
    margin-left:1100px;
    top:-50px;
    padding:5px;
}

.google{
    position:relative; 
    top:-50px;
}

.in{
    position:relative; 
    top:-50px;
}

.twee{
    position:relative; 
    top:-50px;
}

.face{
    position:relative; 
    top:-50px;
}

.white_line{
    background:#A9A9A9;
    height:2px;
    margin-top:-20px;
}

.whiteline2{
    display:inline-block;
    position:relative;
    top:-20px;
    background:#6d6d6d;
    width:2px;
    height:120px;
}

.whiteline3{
    display:inline-block;
    margin-left:80px;
    top:-18px;
    background:#6d6d6d;
    width:2px;
    height:120px;
}

.whiteline4{
    display:inline-block;
    position:relative;
    margin-left:80px;
    background:#6d6d6d;
    width:2px;
    height:120px;  
}

.whitelogo{
    position:relative;
    top:31px;
}

.corp{
    position:relative;
    color:	#A9A9A9;
    top:50px;
}

.links{
    position:relative;
    top:-50px;
    height:100px;
    float:left;
    content: "";
    display:inline-block;
    clear: both;
    width: 65%;
    white-space:nowrap;
    overflow:hidden;
    text-decoration: none;
    left:250px;
}

.solutions{
    position:relative;
    top:-105px;
    display:inline-block;
    color:white;
    padding-left:18px;
    font-size:15px;
    text-decoration: none;   
}

.byod{
    position:relative;
    top:-80px;
    display:inline-block;
    color:white;
    margin-left:-60px;
    font-size:15px;
    text-decoration: none;      
}

.mdm{
    position:relative;
    top:-55px;
    display:inline-block;
    color:white;
    margin-left:-90px;
    font-size:15px;
    text-decoration: none;   
}

.what_mdm{
    position:relative;
    top:-30px;
    display:inline-block;
    color:white;
    margin-left:-93px;
    font-size:15px;
    text-decoration: none;       
}

.res{
    position:relative;
    top:-80px;
    display:inline-block;
    color:white;
    margin-left:15px;
    left:3px;
    font-size:15px;
    text-decoration: none;       
}

.comm{
    position:relative;
    top:-55px;
    display:inline-block;
    color:white;
    margin-left:-65px;
    font-size:15px;
    text-decoration: none;       
}

.papers{
    position:relative;
    top:-30px;
    display:inline-block;
    color:white;
    margin-left:-70px;
    font-size:15px;
    text-decoration: none;
}

.security_products{
    display:inline-block;
    position:relative;
    color:	#A9A9A9;
    top:-105px;
    font-size:20px;
    padding-left:15px;
}

.android_antivirus{
    position:relative;
    top:-80px;
    display:inline-block;
    color:white;
    margin-left:-200px;
    font-size:15px;
    text-decoration: none;
}

.mac_antivirus{
    position:relative;
    top:-55px;
    display:inline-block;
    color:white;
    margin-left:-105px;
    font-size:15px;
    text-decoration: none;  
}

.int_security{
    position:relative;
    top:-30px;
    display:inline-block;
    color:white;
    margin-left:-83px;
    font-size:15px;
    text-decoration: none;  
}

.footer_background{
    background:#545454;
}

.how_mobile_background{
    background: url(../image1/howmobile.jpg) center center no-repeat;
    background-size: cover;
    height:650px;
}

.how_mobile_backgroundblue{
    position: relative;
}

.how_mobile_backgroundblue:before{
    content: '';
    position: absolute;
    top: -545px;
    left: 0;
    width: 100%;
    height: 405px;
    background-color: #14afe2;
    z-index: 1;
    opacity: 0.9;
}

.how_mobile_backgroundblue .main_wrapper{
    position: relative;
    z-index: 2;
}

.options_container{
    display:block;
    position:relative;
    width:550px;
    z-index:2;
    height:200px;
    float:right;
    top:-30px;
}

.table-license-option {
    position: relative;
    z-index: 1000;
    width: 100%;
    border: 0;    
    border-spacing: 0;
    padding-left:34px;
}

.table-license-option tr{
    border: 0;
}

.table-license-option tr:nth-child(odd){
    background-color: #efedba;
}

.table-license-option td{
    border: 0;
    text-align: left;
    vertical-align: middle;
    min-height:40px;
}

.td_width{
    width:350px;
}
